@media screen and (max-width: 1512px) {
  .reviews{
    &:before{
      left: -1476rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .header{
    background-color: $default;
    padding: 31rem 0;
    &-logo{
      margin-right: auto;
      a{
        color: $white;
      }
    }
    &-action,
    &-link,
    {
     display: none;
    }
    &-bottom{
      display: none !important;
      visibility: hidden;
    }
    &-nav{
      position: absolute;
      top: 0;
      transition: all ease 300ms;
      left: 0;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      padding: 50rem 48rem;
      ul{
        flex-direction: column;
        align-items: flex-start;
        li{
          width: 100%;
          margin-bottom: 16rem;
        }
        li.has-sub{
          flex-direction: column;
          &:after{
            position: absolute;
            right: 0;
            top: 0;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke='%23F8F7F2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          }
          a{
            width: 100%;
          }
          ul{
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            position: relative;
            display: none;
            opacity: 1;
            z-index: 1;
            visibility: visible;
            background-color: transparent;
            padding: 0;
            margin-top: 24rem;
            li{
              margin-bottom: 24rem;
              a{
                color: $white;
                font-size: 18rem;
                &:after{
                  display: none;
                }
              }
            }
          }
          &.active{
            ul{
              display: block;
            }
          }
        }
        a{
          color: $white;
          font-size: 20rem;
          &:hover{
            color: $white;
          }
        }
      }
    }
    &-btn{
      display: block;
    }
    &.active{
      .header-nav{
        opacity: 1;
        visibility: visible;
        top: 100%;
      }
      .header-action{
        display: none;
      }
      .header-overlay{
        opacity: 1;
        visibility: visible;
      }
    }
    &.scroll-nav {
      .header-logo{
      }
    }
  }
  .main-content{
    margin-top: 76rem;
  }
  body{
    font:$bodyM;
  }
  section{
    padding: 70rem 0;
  }
  .title-section{
    font: $h2m;
    margin-bottom: 40rem;
    b{
      font: $h2m;
      font-weight: 400;
    }
    span{
      &:after{
        bottom: 5rem;
        height: 5rem;
      }
    }
  }
  p{
    font: $bodyM;
  }
  .popup{
    &-wrap{
      padding: 24rem;
    }
    &-close{
      right: 5rem;
      top: 5rem;
    }
    &-subtitle{
      font: $bodyM;
      margin-bottom: 16rem;
    }
  }
  .h1, h1{
    font: $h1m;
  }
  .h2, h2{
    font: $h2m;
  }
  .h3, h3{
    font: $h3m;
  }
  .h4, h4{
    font: $h4m;
  }
  .h5, h5{
    font: $h5m;
  }
  .text-section{
    h2{
      margin-bottom: 24rem;
    }
  }
  .hero{
    min-height: 683rem;
    height: 683rem;
    &:after, &:before{
      display: none;
    }
    &-title{
      margin: auto 0 24rem;
      font: $h1m;
      text-align: center;
    }
    &-text{
      font: $bodyL;
      text-align: center;
      margin-bottom: 50rem;
    }
    &-link{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20rem;
      .btn-primary{
        background-color: $primary;
        color: $default;
        svg{
          path{
            fill: $default;
          }
        }
      }
    }
    &-media{
      &__item{
        &:nth-of-type(2){
          display: none;
        }
      }
    }
  }
  .d-m{
    display: none;
  }
  .d-h{
    display: block !important;
  }
  .btn-primary{
    &.d-h{
      display: inline-flex !important;
    }
  }
  .btn-secondary, .btn-primary{
    padding: 16rem 20rem 16rem 24rem;
  }
  .about{
    &-wrap{
      flex-direction: column-reverse;
      gap: 40rem;
    }
    &-media{
      max-width: 458rem;
      height: auto;
      max-height: 800rem;
    }
    &-desc{
      .text-section{
        margin-bottom: 48rem;
      }
    }
    &-number{
      margin-bottom: 48rem;
      &__item{
        text-align: center;
        font: $bodyS;
        span{
          font: $h4;
        }
      }
    }
  }
  .section-link{
    text-align: center;
  }
  .brands {
    .title-section{
      margin-bottom: 50rem;
    }
    &-wrap{
      gap: 24rem;
    }
    &-item{
      max-width: calc(33.3333% - 18rem);
      min-height: 57rem;
    }
  }
  .advantages{
    &-wrap{
      flex-wrap: wrap;
      padding: 0 16rem;
      gap: 40rem;
      border: 0;
    }
    &-item{
      width: 100%;
      padding: 24rem 20rem;
      border: 1rem solid #DEDEDD;
      min-height: auto;
      &__media{
        margin-bottom: 12rem;
        img{
          width: 42rem;
          height: 42rem;
        }
      }
      &__title{
        font: $h4;
      }
    }
  }
  .projects{
    position: relative;
    overflow: hidden;
    padding-bottom: 192rem;
    .top-section{
      .btn-secondary{
        position: absolute;
        bottom: 70rem;
        left: 0;
        right: 0;
        max-width: 240rem;
        margin: 0 auto;
      }
    }
    &-wrap{
      gap: 0;
      display: block;
      position: relative;
      &:before{
        position: absolute;
        content: '';
        z-index: 2;
        top: 0;
        left: -16rem;
        width: 16rem;
        height: 100%;
        background-color: $default;
      }
    }
    .slick-list{
      overflow: visible;
    }
    .slide{
      padding: 0 8rem;
    }
    &-item{
      width: 100%;
      max-width: 336rem;
    }
  }
  .reviews{
    .title-section{
      text-align: left;
    }
    .slick-list{
      margin: 0 -8rem;
    }
    .slide{
      padding: 0 8rem;
    }
    &-item{
      max-width: 330rem;
      padding: 16rem;
      min-height: 313rem;
      &__rating{
        margin-bottom: 24rem;
      }
      &__author{
        &-media{
          width: 52rem;
          height: 52rem;
        }
      }
    }
  }
  .choose{
    &-wrap{
      flex-wrap: wrap;
    }
    &-desc{
      max-width: 100%;
      width: 100%;
    }
    &-media{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 16rem;
      grid-row-gap: 16rem;
      &__item{
        &:nth-of-type(1) { grid-area: 1 / 1 / 2 / 2; }
        &:nth-of-type(2) { grid-area: 2 / 1 / 3 / 2; }
        &:nth-of-type(3) { grid-area: 1 / 2 / 3 / 3; }
      }
    }
  }
  .step{
    &-wrap{
      margin:40rem 0;
      flex-wrap: wrap;
      gap: 40rem;
      &:before{
        display: none;
      }
    }
    &-item{
      width: 100%;
      &__number{
        font: $h5;
      }
    }
  }
  .bottom-media{
    img{
      min-height: 500rem;
      object-fit: cover;
    }
  }
  .footer{
    &-top{
      padding: 60rem 0 50rem;
      flex-wrap: wrap;
      &__title{
        margin-bottom: 80rem;
      }
    }
    &-nav{
      flex-wrap: wrap;
    }
    &-bottom{
      padding-bottom: 60rem;
      flex-wrap: wrap;
      .footer-title{
        font: $bodyL;
      }
    }
    &-contact{
      margin-bottom: 80rem;
    }
    &-social{
      ul{
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
  .top-title{
    font: $h1m;
  }
  .top-text{
    font: $bodyL;
  }
  .about-main{
    &:before,&:after{
      display: none;
    }
    &__wrap{
      flex-wrap: wrap;
      gap: 40rem;
    }
    &__image{
      width: 100%;
      padding: 0;
      border: 0;
    }
    &__desc{
      width: 100%;
      padding: 0;
    }
    &__title{
      font-size: 42rem;
    }
  }
  .video-section{
    &__media{
      height: 240rem;
      img, video{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__controls{
      button{
        width: 80rem;
        height: 80rem;
      }
    }
  }
  .faq{
    &-item{
      padding: 14rem 12rem 31rem;
      &:before{
        position: relative;
        display: inline-block;
        width: 100%;
        left: 0;
        top: 0;
      }
      &:after{
        right: 0;
        top: 35rem;
      }
      &__title{
        font: $h5;
        margin: 14rem 0 16rem;
        padding-right: 30rem;
      }
    }
  }
  .cta{
    padding: 70rem 0;
    &-media{
      position: relative;
      margin-bottom: 94rem;
      &-item{
        &:nth-of-type(1){
          position: relative;
          top: 0;
        }
        &:nth-of-type(2){
          top: 96rem;
        }
        &:nth-of-type(3), &:nth-of-type(4){
          display: none;
        }
      }
    }
  }
  .portfolio{
    &-filter{
      ul{
        width: 100%;
        overflow: auto;
        a {
          white-space: nowrap;
          padding: 8rem 10rem;
        }
      }
    }
    &-item{
      padding: 14rem 16rem;
      &:nth-of-type(2n){
        padding:14rem 16rem 14rem 8rem;
      }
      &:nth-of-type(2n+1){
        padding: 14rem 8rem 14rem 16rem;
        &:after{
          display: none;
        }
      }
      &._video{
        width: 100%;
      }
    }
  }
  .service{
    &-item{
      padding: 24rem 16rem 40rem;
      border-top: 0;
      flex-wrap: wrap;
      gap: 32rem;
      &__desc{
        width: 100%;
      }
      &__media{
        width: 100%;
        img{
          max-width: 485rem;
          margin: 0 auto;
        }
      }
      &__title{
        gap: 12rem;
        img{
          width: 42rem;
          height: 42rem;
        }
      }
      &:first-child{
        border-top: 1rem solid #dededd;
      }
      &:nth-of-type(2n) {
        .service-item__media{
          border: 0;
          padding-right: 0;
          img{
            margin: 0 auto;
          }
        }
      }
      &:nth-of-type(2n+1) {
        .service-item__media{
          padding-left: 0;
          border: 0;
        }
      }
    }
  }
  .process{
    &-wrap{
      flex-wrap: wrap;
    }
    &-item{
      max-width: calc(50% - 12rem);
      &__desc{
        padding: 24rem 16rem;
        min-height: 302rem;
      }
      &__number{
        font: $h1m;
        font-weight: 200;
        margin-bottom: 32rem;
      }
    }
  }
  .price{
    padding: 0 0 70rem;
    &-item{
      max-width: 100%;
      padding: 32rem 16rem;
      ul{
        gap: 12rem 30rem;
        li{
          &:before{
            width: 20rem;
            height: 20rem;
          }
        }
      }
      &:nth-last-child(1), &:nth-last-child(2){
        max-width: 100%;
        .price-item__text {
          ul {
            li{
              width: 100%;
            }
          }
        }
      }
      &__title{
        margin-bottom: 32rem;
      }
      &__price{
        margin-bottom: 32rem;
        &:before, &:after{
          max-width: 100rem;
        }
      }
    }
  }
  .price-table{
    &__wrap {
      ul {
        li{
          padding: 30rem 0 8rem;
          flex-wrap: wrap;
          &:first-child{
            padding: 20rem 16rem;
            span{
              max-width: 50%;
              font: $button;
              &:first-child{
                display: none;
              }

            }
          }
          span{
            display: block;
            width: 100%;
            padding: 0 16rem;
            &:nth-of-type(1){
              max-width: 100%;
              text-align: center;
              min-height: auto;
              margin-bottom: 14rem;
            }
            &:nth-of-type(2),
            &:nth-of-type(3){
              max-width: 50%;
              font: $bodyS;
            }
          }
        }
      }
    }
  }
  .review-page{
    &__form{
      display: flex;
      flex-wrap: wrap;
      gap: 24rem;
      &-page{
        width: 100%;
      }
    }

  }
  .contact-form{
    form {
      .modal-input{
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 480px){
  .process{
    &-item{
      max-width: 100%;
      &:nth-of-type(2n),
      &:nth-of-type(2n+1){
        flex-direction: column;
      }
    }
  }
}